<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0, user-scalable=no">
    <title>扫二维码加微信</title>
    <link type="text/css" rel="stylesheet" href="/static/received/background.css">
</head>

<body>
    <div class="main">
	</br>
        </br>
        <p  class="guide">
            <b>
                扫描二维码领取优惠券
            </b>
            </br>
            </br>
        </p>
        <p>
            <img class="ma" src="/static/received/ma.jpg" alt="">
        </p>
    </div>
</body>

</html>
