<html>

<head>
    <title>管理员登录</title>
    <link type="text/css" rel="stylesheet" href="/static/login/login.css" />
</head>

<body>
    <div class="main">
        <br>
        <br>
        <br>
        <br>
        <br>
        <form class="input_form" method="POST">
            <p> 账号
                <br />
                <input class="info_input" type="text" name="username" />
                <br />
            </p>
            <p> 密码
                <br />
                <input class="info_input" type="password" name="password" />
                <br />
            </p>
            <p>
                <input class="submit_button" type="submit" name="submit" value="登录" />
            </p>
            {{ form.csrf_token }}
        </form>
    </div>
</body>

</html>