.main {
	text-align: center;
}

.logout {
    width: 90%;
    text-align: right;
}

.logout_submit {
    color: blue;
    font-size: 17px;
}

.level_input {
	width: 80%;
	text-align: center;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.link_out {
	width: 80%;
	text-align: center;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
}

.generate_button , .copy_button {
	width: 80%;
    height: 34px;
    border: none;
    color: white;
    background:#fc9153;
}

.generate_button_disable, .copy_button_disable {
	width: 80%;
    height: 34px;
    border: none;
    color: white;
    background: #e5e5e5;
}